.breadcrum {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 60px 170px;
  img{
    color: #5e5e5e;
  }
}
