.item {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  img {
    width: 250px;
    height: 300px;
    object-fit: cover;
  }
  p {
    margin: 0 6px;
  }
  .item-prices {
    display: flex;
    gap: 20px;

    .item-price-new {
      color: #374151;
      font-size: 18px;
      font-weight: 600;
      margin: 0 6px;
    }

    .item-price-old {
      color: #8c8c8c;
      font-size: 18px;
      font-weight: 500;
      text-decoration: line-through;
      margin: 0 6px;
    }
  }
  &:hover {
    transform: scale(1.05);
    transition: 0.6s;
  }
}
