.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  align-items: center;
  box-shadow: 0 1px 3px -2px black;

  .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-size: 38px;
      font-weight: 600;
    }
  }

  .nav-menu {
    display: flex;
    list-style: none;
    gap: 10px;
    color: #626262;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      cursor: pointer;

      hr {
        border: none;
        width: 80%;
        height: 3px;
        background: #ff4141;

        border-radius: 10px;
      }
    }
  }

  .nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;

    button {
      width: 157px;
      height: 58px;
      outline: none;
      border: 1px solid #7a7a7a;
      border-radius: 75px;
      color: #515151;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      background: white;

      :active {
        background: #f3f3f3;
      }
    }
    .navbar-count {
      height: 22px;
      width: 22px;
      border-radius: 11px;
      background: red;
      color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: -35px;
      margin-left: -55px;
      font-size: 14px;
    }
  }
}
